.footer {
    background: $colour-secondary;
    color: #fff;
    padding: 2em 0;
    margin-top: 2em;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media screen and (min-width: $dimen-medium) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__left a,
    &__right a,
    {
        color: #fff;
    }

    &__left {
        font-size: 0.7em;
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    &__right {
        font-size: 0.7em;
        text-align: center;
        margin-top: 2em;
        flex: 1;

        @media screen and (min-width: $dimen-medium) {
            text-align: right;
            margin-top: 0em;
        }
    }

    &__bullets {
        list-style: none;
        padding: 0;

        &:not(:last-child) {
            margin-right: 4em;
        }
    
        li:not(:last-child) {
            margin-bottom: 0.75em;
        }
    }

    &__subheading {
        font-size: 1.1em;
        margin-bottom: 1.5em;

        @media screen and (max-width: $dimen-medium) {
            text-align: center;
        }
    }

    &__social-icons {
        margin-bottom: 1em;
        font-size: 1.5em;

        a:not(:last-child) {
            margin-right: 0.75em;
        }
    }
}