.header {
    background: linear-gradient(0deg, hsl(191, 100%, 93%), hsl(206,96%, 78%));
    padding: 2em 0;

    &__container {
        display: flex;
        flex-direction: column;
        margin-top: 2em;

        @media screen and (min-width: $dimen-medium) {
            flex-direction: row;
        }
    }

    &__left {
        display: flex;
        justify-content: center;
        align-items: center;        

        @media screen and (min-width: $dimen-medium) {
            flex: 0;
        }
    }

    @media screen and (min-width: $dimen-medium) {
        &__right {
            margin-left: 3em;
            flex: 1;
        }
    }

    &__logo {
        margin-top: 0.5em;
        margin-bottom: 2em;
        max-width: 350px;

        @media screen and (max-width: $dimen-medium) {
            width: 100%;
        }
    }
}