.header {
    background: linear-gradient(top, hsl(206, 96%, 78%) 0%, hsl(191, 100%, 93%) 100%);
    padding: 2em 0;

    &__container {
        display: flex;
        flex-direction: column;
        margin-top: 2em;

        @media screen and (min-width: $dimen-medium) {
            flex-direction: row;
        }
    }

    &__col-left {
        display: flex;
        justify-content: center;
        align-items: center;        

        @media screen and (min-width: $dimen-medium) {
            flex: 0;
        }
    }

    @media screen and (min-width: $dimen-medium) {
        &__col-right {
            margin-left: 3em;
            flex: 1;
        }
    }

    &__logo {
        margin-top: 0.5em;
        margin-bottom: 2em;
        max-width: 350px;
    }
}