$nav-colour: $colour-secondary;
$nav-secondary-colour: $colour-primary;
$nav-border-colour: darken($nav-colour, 10%);


@media screen and (min-width: $dimen-medium) {
    @import "navigation/navbar";
}

@media screen and (max-width: $dimen-medium) {
    @import "navigation/drawer";
}