.server-feed {
    .category {
        &__heading {
            color: #fff;
            font-size: 0.8em;
            padding: 0 0.75em;
            text-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.15);
        }

        &:not(:last-child) {
            margin-bottom: 1.5em;
        }
    }

    .server {
        width: 100%;
        padding: 0.75em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 0.7em;
        text-transform: uppercase;
        box-shadow: 0 2px 5px 1px hsla(0, 0%, 0%, 0.05);

        &:not(:last-child) {
            margin-bottom: 0.3em;
        }

        &:nth-child(2) {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }
        &:last-child {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
        }

        &.server--online {
            background: hsla(0, 0%, 100%, 0.40);
            color: $colour-primary;
            border-top: 1px solid hsla(0, 0%, 100%, 0.5);
        }
        &.server--offline {
            background: hsla(0, 0%, 100%, 0.10);
            border: 1px solid hsla(0, 0%, 100%, 0.35);
            color: hsl(240, 12%, 23%);
        }
    }

    .server__title {
        font-weight: 500;
    }

    .server__players {
        padding: 0.5em 0.75em;
        margin: -0.5em;
        border-radius: 3px;
        font-size: 0.9em;
    }
}