// main colour scheme
$colour-primary: #1987db;
$colour-secondary: #534741;
$colour-accent: #F5A503;

// more specific colours
$colour-bg: #fffcda;

// media query breakpoints
$dimen-mobile: 0px;
$dimen-tablet: 576px;
$dimen-desktop: 992px;
$dimen-widescreen: 1200px;

$query-only-mobile:     "only screen and (max-device-width: $dimen-tablet - 1)";
$query-only-tablet:     "only screen and (min-device-width: $dimen-tablet) and (max-device-width: $dimen-desktop - 1)";
$query-only-desktop:    "only screen and (min-device-width: $dimen-desktop) and (max-device-width: $dimen-widescreen - 1)";
$query-only-widescreen: "only screen and (min-device-width: $dimen-widescreen)";

$query-min-mobile:      "only screen and (min-device-width: $dimen-mobile)";
$query-min-tablet:      "only screen and (min-device-width: $dimen-tablet)";
$query-min-desktop:     "only screen and (min-device-width: $dimen-desktop)";
$query-min-widescreen:  "only screen and (min-device-width: $dimen-widescreen)";