@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

@import "~normalize-scss/sass/normalize";

$colour-primary: #1987db;
$colour-secondary: #534741;
$colour-accent: #F5A503;

$colour-bg: #fffcda;

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-height: 100%;
}

body {
    background: $colour-bg;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
}