@charset 'utf-8';

@import '~normalize-scss/sass/normalize';
@include normalize();


@import 'mixins/utility';

@import 'global/colours';
@import 'global/dimensions';
@import 'global/typography';
@import 'global/images';

@import 'components/alert';
@import 'components/badge';
@import 'components/blockquote';
@import 'components/bubble';
@import 'components/button';
@import 'components/card';
@import 'components/divider';
@import 'components/grid';
@import 'components/navigation';
@import 'components/pagination';
@import 'components/progressbar';
@import 'components/table';

@import 'layouts/home';


* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-height: 100%;
}

body {
    background: hsl(55, 100%, 93%);
    font-size: 16px;
}