a:link, a:visited {
    color: $color-text-link;
}

a:hover {
    color: $color-text-primary;
}

a:link.alternative {
    color: $color-text-accent;
}
a:hover.alternative {
    color: darken($color-text-accent, 15%);
}
