.button {
    display: inline-block;
    border: 5px solid $color-button-accent;
    border-radius: 8px;
    color: $color-button-accent;
    padding: 0.2em 1.5em;
    font-family: $font-header;
    font-size: 2.3em;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow:
        0 4px 4px hsla(0, 0, 0, 25%),
        inset 0 4px 4px hsla(0, 0, 0, 35%); // Because button is see-through
    text-shadow: 0 4px 4px hsla(0, 0, 0, 35%);

    // TODO: find a better way to do this
    .fa-mouse-pointer {
        width: 0.45em;
        margin-right: 0.1em;
    }
}
