.container {
    margin: auto;
    max-width: 1600px;
    padding: 0 6em;

    @media screen and (max-width: 1300px) {
        padding: 0 4.5em;
    }
    @media screen and (max-width: 1024px) {
        padding: 0 3em;
    }
    @media screen and (max-width: 768px) {
        padding: 0 2.5em;
    }
}
