// TODO: use `input` instead
.textfield {
    background-color: #FBFBFB;
    padding: 1em 0.8em;
    border-radius: 5px;
    border: 1px solid #DADADA;
    box-shadow: inset 0 4px 0 hsla(0, 0, 0, 5%);
    font-weight: bold;
}

label {
    color: #888888;
    font-size: 0.9em;
    margin-bottom: 0.5em;
}

label.checkbox {
    color: $color-text-primary;

    &.checkbox--has-error {
        color: $color-error;
        border-left: 4px solid $color-error;
        padding-left: 1em;
    }

    input {
        margin-right: 0.5rem;
    }
}

.textfield--is-mfa {
    font-size: 1.5rem;
    font-family: monospace;
    padding: 0.5em 0.4em;
}
