.donation-list {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    width: 100%;

    @media screen and (min-width: $dimen-medium) {
        flex-direction: row;
    }

    &__left {
        flex: 1 1 0;

        .card:not(:first-child) {
            margin-top: 1em;
        }

        thead tr {
            th:nth-child(2) {
                width: 35%;
            }

            th:nth-child(3) {
                width: 20%;
            }
        }
    }

    &__right {
        margin-bottom: 1em;

        @media screen and (min-width: $dimen-medium) {
            width: 300px;
            margin-left: 1em;
            margin-bottom: 0;
        }
    }
}
