# Packages
/node_modules
/vendor

# Logs
npm-debug.log
yarn-error.log
supervisord.log
supervisord.pid

# Dev
.phpunit.result.cache
.php_cs.cache

# Environment settings
.env

# Generated resources/builds
/public/assets/css
/public/assets/js
mix-manifest.json

# Token buckets
*.ratelimit

# Storage
/public/hot
/public/storage
/storage/*.key

# IDE generated settings
.vscode
/.idea

# Dev environments
/.vagrant
Homestead.json
Homestead.yaml

clover.xml
