includes:
  - ./vendor/nunomaduro/larastan/extension.neon
parameters:
  level: 0
  paths:
    - app
    - bootstrap
    - domain
    - entities
    - helpers
    - library
    - repositories
    - routes
    - shared
