.server-feed {
    &__server {
        background: hsla(0, 5%, 12%, 75%);
        margin-bottom: 0.5em;
        padding: 1em;
        border-radius: 4px;

        display: flex;
        align-items: center;

        box-shadow:
            0 4px 4px hsla(0, 0%, 0%, 25%),
            inset 0 -4px 0 hsla(0, 0%, 0%, 25%);
    }

    &__server.offline {
        background-color: hsla(0, 5%, 12%, 25%);
        border: 1px solid hsla(0, 0%, 0%, 15%);
    }

    &__server.discord {
        margin-top: 1.5em;
    }

    &__title {
        color: #fff;
        font-family: $font-header;
        font-size: 1.5em;
        margin-right: 1em;
    }

    &__player-count {
        display: inline-block;
        background: hsla(0, 0%, 77%, 20%);
        border-radius: 4px;
        padding: 0.6em 0.8em;
        color: #fff;
        font-size: 0.8em;
        margin-right: 1em;
    }

    &__address {
        display: inline-block;
        flex: auto;
        text-align: right;
        font-size: 0.8em;

        a:link, a:visited {
            color: #fff;
        }
        a:hover {
            color: $color-text-accent;
        }
    }
}

@media screen and (max-width: 1400px) {
    .server-feed__title {
        font-size: 1.2em;
    }
    .server-feed__player-count {
        font-size: 0.7em;
    }
    .server-feed__address {
        font-size: 0.7em;
    }
}
