@charset 'utf-8';

@import '~normalize-scss/sass/normalize';
@include normalize();


@import 'mixins/utility';

@import 'global/colours';
@import 'global/dimensions';
@import 'global/typography';
@import 'global/images';

@import 'components/alert';
@import 'components/badge';
@import 'components/blockquote';
@import 'components/bubble';
@import 'components/button';
@import 'components/card';
@import 'components/divider';
@import 'components/grid';
@import 'components/input';
@import 'components/pagination';
@import 'components/progressbar';
@import 'components/sidemenu';
@import 'components/skeleton';
@import 'components/stat';
@import 'components/spinner';
@import 'components/table';

@import 'layouts/donate-panel';
@import 'layouts/footer';
@import 'layouts/grid';
@import 'layouts/header';
@import 'layouts/navigation';
@import 'layouts/server-feed';

@import 'pages/home';
@import 'pages/login';
@import 'pages/register';


* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-height: 100%;
}

body {
    overflow-x: hidden;
    background-color: hsl(55, 100%, 93%);
    background-image: url('/assets/images/background1.jpg');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;

    @media screen and (min-width: $dimen-medium) {
        background-position: center 40px;
        background-size: contain;
    }
}

section {
    width: 100%;
}