.banlist-layout {
    background: #fff;
    border-radius: $border-radius-panel;
    margin-bottom: 1em;
    width: 100%;

    .ban-header {
        background: #f7f7f7;
        padding: 1em;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .ban-contents {
        padding: 1em;
    }

    .table-container {
        width: 100%;
        overflow-x: auto;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    thead {
        text-transform: uppercase;
        font-size: 0.8em;
        background-color: #fff;
        border: 1px solid #e7e7e7;
        border-bottom: 3px solid darken(#f7f7f7, 3%);
        color: $colour-secondary;

        td {
            padding: 1em 0.75em;
        }
    }

    tbody {
        tr:not(:first-child) {
            border-top: 1px solid #efefef;
        }
        td {
            padding: 0.6em 0.75em;
            font-size: 0.7em;
        }
        tr:nth-child(even) {
            background-color: #fafafa;
        }
        tr:nth-child(odd) {
            background-color: #fff;
        }
    }
}