@use '../styles/vars/colors';
@use '../styles/vars/dimensions';
@use '../styles/vars/media';
@use '../styles/vars/typography';

.background {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, hsla(0, 0%, 0%, 0.25) 20%, hsla(0, 21%, 7%, 90%)),
                    url('/hero-bg.png');
}

.layoutHeroBody {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;

  @media only screen and (min-width: media.$media-screen-tablet) {
    padding: 0 4em;
  }
}

.layoutRightCol {
  text-align: right;
  max-width: 650px;
}

.layoutTitle {
  h1 {
    color: colors.$color-white;
    text-shadow: 0 2px 9px hsla(0, 0%, 0%, 35%);
  }
}

.layoutDescription {
  margin-top: 1.2em;
  margin-bottom: 2.0em;

  span, strong {
    color: #e6e6e6;
    text-shadow: 0 2px 4px hsla(0, 0%, 0%, 55%);
  }
}

.layoutButton {
  margin-bottom: 1em;

  .button {
    border-radius: dimensions.$corner-radius-lg;
    border: 3px solid colors.$color-button-primary;
    color: colors.$color-button-primary;
    font-family: typography.$font-display;
    font-size: typography.$text-display-md;
    display: inline-block;
    padding: 0.1em 0.75em 0 0.75em;
    text-align: center;
    box-shadow: 0 4px 10px hsla(0, 0%, 0%, 15%),
                inset 0 4px 10px hsla(0, 0%, 0%, 15%);

    &:hover {
      color: colors.$color-button-primary-hover;
      border-color: colors.$color-button-primary-hover;

      u {
        color: darken(colors.$color-white, 30%);
      }
    }

    u {
      color: colors.$color-white;
    }

    // Adjust the icon
    svg {
      padding-right: 0.15em;
      font-size: 0.9em;
    }
  }
}

.discordLink {
  font-family: typography.$font-display;
  font-size: typography.$text-display-sm;
  color: colors.$color-white;
  text-decoration: underline;
}