.background {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, hsla(0, 0%, 0%, 0.25) 20%, hsla(0, 21%, 7%, 90%)),
                    url('/hero-bg.png');
}

.title {
  color: var(--white);
  font-weight: 500;
  text-shadow: 0 2px 9px hsla(0, 0%, 0%, 35%);

  margin-bottom: 0.2em;
}

.subtitle,
.subtitle strong {
  color: #e6e6e6;
  text-shadow: 0 2px 4px hsla(0, 0%, 0%, 55%);
  line-height: 1.7em;
  margin-bottom: 2.5em;
}

.content {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;

  // TODO: fetch the width from Bulma
  @media only screen and (min-width: 600px) {
    padding: 0 4em;
  }
}

.textContainer {
  text-align: right;
  max-width: 550px;
}

.button {
  border-radius: var(--corner-radius-lg);
  border: 3px solid var(--color-accent);
  font-family: var(--font-display);
  font-size: var(--text-display-md);
  display: inline-block;
  padding: 0.1em 0.75em 0 0.75em;
  color: var(--color-accent);
  text-transform: uppercase;
  text-align: center;
  box-shadow: 0 4px 10px hsla(0, 0%, 0%, 15%),
              inset 0 4px 10px hsla(0, 0%, 0%, 15%);
  text-shadow: none;
  margin-bottom: 1em;

  // Adjusts the icon
  svg {
    padding-right: 0.15em;
    font-size: 0.9em;
  }

  u {
    color: var(--white);
  }
}

.discordLink {
  font-family: var(--font-display);
  font-size: var(--text-display-sm);
  color: var(--white);
  text-decoration: underline;
}