@import '../styles/typography';
@import '../styles/dimensions';
@import '../styles/colors';

.server {
  display: flex;
  align-items: center;
  background: hsla(0, 5%, 12%, 75%);
  margin-bottom: $spacing-s;
  padding: 0 $spacing-m;
  border-radius: $corner-radius-small;
  box-shadow: $shadow-strong;

  &.offline {
    background-color: hsla(0, 5%, 12%, 25%);
    border: 1px solid hsla(0, 0%, 0%, 15%);
  }

  :not(:last-child) {
    margin-right: $spacing-key;
  }
}

.title {
  color: #fff;
  font-size: $text-size-m;
  font-family: $font-family-accent;
  padding: $spacing-key 0;
}

.playerCount {
  display: flex;
  align-items: center;
  background: hsla(0, 0%, 77%, 20%);
  border-radius: $corner-radius-small;
  padding: 0.5em 0.75em;
  color: #fff;
  font-size: $text-size-xs;

  :not(:last-child) {
    margin-right: $spacing-xs;
  }
}

.address {
  display: inline-block;
  flex: auto;
  text-align: right;
  font-size: $text-size-s;

  a:link, a:visited {
    color: #fff;
    text-decoration: underline;
  }

  a:hover {
    color: #fff;
  }
}