.servers {
  & > :not(:last-child) {
    margin-bottom: var(--space-sm);
  }
}

.server {
  display: flex;
  align-items: center;
  background: hsla(0, 5%, 12%, 75%);
  padding: 0 var(--space-md);
  border-radius: var(--corner-radius-sm);
  box-shadow: var(--shadow-strong);

  &.offline {
    background-color: hsla(0, 5%, 12%, 25%);
    border: 1px solid hsla(0, 0%, 0%, 15%);
  }

  :not(:last-child) {
    margin-right: var(--space-sm);
  }
}

.title {
  color: var(--white);
  font-size: var(--text-lg);
  font-family: var(--font-secondary);
  padding: var(--space-sm) 0;
}

.playerCount {
  display: flex;
  align-items: center;
  background: hsla(0, 0%, 77%, 20%);
  border-radius: var(--corner-radius-sm);
  padding: var(--space-xs) var(--space-sm);
  color: var(--white);
  font-size: var(--text-xs);

  :not(:last-child) {
    margin-right: var(--space-sm);
  }
}

.address {
  display: inline-block;
  flex: auto;
  text-align: right;
  font-size: var(--text-sm);

  a:link, a:visited {
    color: var(--white);
    text-decoration: underline;
  }

  a:hover {
    color: #fff; // TODO
  }
}