@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;500;700&display=swap');

$font-family-accent: 'Bebas Neue', sans-serif;
$font-family-body: 'Roboto', sans-serif;

$text-size-xl: 3rem;
$text-size-l: 2rem;
$text-size-m: 1.5rem;
$text-size-s: 1rem;
$text-size-xs: 0.75em;