.login {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 5px 1px hsla(0, 0%, 0%, 0.05);
    background: #fff;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

    @media screen and (max-width: $dimen-medium) {
        flex-direction: column;
    }

    &__right {
        flex: 1 1 50%;
        background: $colour-light;
        padding: 2em 2.5em;
        color: #fff;
        border-bottom: 3px solid darken($colour-light, 5%);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

        @media screen and (max-width: $dimen-medium) {
            border-radius: 0 0 5px 5px;
        }
    }

    &__left {
        flex: 1 1 50%;
        padding: 2em 2.5em;
        border-bottom: 3px solid darken(#fff, 5%);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;

        @media screen and (max-width: $dimen-medium) {
            border-radius: 5px 5px 0 0;
        }

        h1 {
            margin-bottom: 0.75em;
        }
    }

    &__options {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__remember {
        color: $colour-light;
    }

    &__forgot {
        font-size: 0.8em;
    }

    &__description {
        line-height: 1.75em;
        margin-bottom: 1.5em;
    }

    &__button {
        display: block;
        width: 100%;
        border-radius: 5px;
        user-select: none;
        font-size: 0.8em;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        margin-bottom: 0.25em;
        padding: 1em;
    }
    &__button--facebook {
        background: hsl(229, 44%, 38%);
    }
    &__button--twitter {
        background: hsl(189, 62%, 56%);
    }
    &__button--google {
        background: hsl(0, 55%, 50%);
    }
    &__button--discord {
        background: rgb(114, 137, 218);
    }

    &__divider {
        text-transform: uppercase;
        text-align: center;
        font-size: 0.8em;
        margin: 0.75rem 0;
    }
}