@charset "utf-8";

@import "~normalize-scss/sass/normalize";
@include normalize();

@import "foundation/colors";
@import "foundation/dimensions";
@import "foundation/typography";

@import "elements/button";

@import "molecules/hero";
@import "molecules/navbar";
@import "molecules/server-feed";


* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    min-height: 100%;
}

body {
    overflow-x: hidden;
    background-color: hsl(55, 100%, 93%);
    font-family: $font-body;
    font-size: 16px;
}
