@charset "utf-8";

// -- Deprecated --
@forward "front/command";
@forward "front/modal";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$font-header: 'Bebas Neue', sans-serif;
$font-body: 'Inter', sans-serif;

body {
    font-family: $font-body;
}
// ---------------


@tailwind base;
@tailwind components;
@tailwind utilities;
