.bubble {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    .bubble-avatar {
        padding-top: 10px;
    }

    .bubble-comment {
        flex: 1;
    }

    .bubble-text {
        background: $colour-basic;
        padding: 1em;
        border-radius: 8px;
        position: relative;
        border-bottom: 2px solid darken($colour-basic, 5%);
    }

    .bubble-date {
        font-size: 0.7em;
        padding-top: 0.5em; 
        padding-left: 1rem;
        color: $colour-light;
        text-transform: uppercase;
    }

    &.left {
        .bubble-comment {
            padding-left: 30px;
        }

        .bubble-text:after {
            content: '';
            position: absolute;
            top: 15px;
            left: -30px;
            width: 0px;
            height: 0px;
            border-top:     10px solid transparent;
            border-bottom:  10px solid transparent;
            border-left:    10px solid transparent;
            border-right:   20px solid $colour-basic;
        }
    }

    &.right {
        .bubble-comment {
            padding-right: 30px;
        }
    
        .bubble-text::after {
            content: '';
            position: absolute;
            top: 15px;
            right: -30px;
            width: 0px;
            height: 0px;
            border-top:     10px solid transparent;
            border-bottom:  10px solid transparent;
            border-left:    20px solid $colour-basic;
            border-right:   10px solid transparent;
        }
    }
}