.stats-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.stat {
    text-align: center;
    padding: 0 1em;
    display: flex;
    flex-direction: column;

    &__figure {
        @extend %header;
        font-size: 1.25em;
        margin-bottom: 0.25em;
    }

    &__heading {
        font-size: 0.7em;
        text-transform: uppercase;
    }
}