services:
  cli:
    build: cli
    container_name: pcb-web-cli
    volumes:
      - ../../:/workspaces/laravel

  fpm:
    build: fpm
    container_name: pcb-web-fpm
    volumes:
      - ../../:/workspaces/laravel
    user: 1000:1000
    depends_on:
      - mariadb
      - minio
      - mailpit

  queue:
    build: fpm
    container_name: pcb-web-queue
    volumes:
      - ../../:/workspaces/laravel
    working_dir: /workspaces/laravel
    user: 1000:1000
    depends_on:
      - redis
      - mariadb
      - mailpit
      - minio
    command: php artisan queue:work redis --sleep=3 --tries=3 --timeout=90 --queue=mail,discord,default

  nginx:
    build: nginx
    container_name: pcb-web-nginx
    volumes:
      - ../../:/workspaces/laravel
    ports:
      - 80:80
    depends_on:
      - fpm

  mariadb:
    image: mariadb:12.0.2
    container_name: pcb-web-mariadb
    ports:
      - "3306:3306"
    environment:
      MARIADB_DATABASE: "${DB_DATABASE:-laravel}"
      MARIADB_USER: "${DB_USER:-dbuser}"
      MARIADB_PASSWORD: "${DB_PASS:-dbpass}"
      MARIADB_ROOT_PASSWORD: "${DB_ROOT_PASS:-root}"
    volumes:
        - mariadb-data:/var/lib/mysql
        - '../../.docker/dev/mariadb/create-testing-database.sh:/docker-entrypoint-initdb.d/10-create-testing-database.sh'

  redis:
    image: redis:7.2-alpine
    container_name: pcb-web-redis

  minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z
    container_name: pcb-web-minio
    ports:
      - "${FORWARD_MINIO_PORT:-9000}:9000"
      - "${FORWARD_MINIO_CONSOLE_PORT:-8900}:8900"
    environment:
      MINIO_ROOT_USER: "${MINIO_ROOT_USER:-minio}"
      MINIO_ROOT_PASSWORD: "${MINIO_ROOT_PASSWORD:-minio}"
    volumes:
      - minio-data:/data/minio
    command: minio server /data/minio --console-address ":8900"
    healthcheck:
      test: [ "CMD", "mc", "ready", "local" ]
      retries: 3
      timeout: 5s

  mailpit:
    image: axllent/mailpit:v1.27.11
    container_name: pcb-web-mailpit
    ports:
      - "${FORWARD_MAILPIT_PORT:-1025}:1025"
      - "${FORWARD_MAILPIT_DASHBOARD_PORT:-8025}:8025"

  stripe-cli:
    image: stripe/stripe-cli:v1.32.0
    container_name: pcb-web-stripe-cli
    command:
    - listen
    - --api-key
    - ${STRIPE_SECRET}
    - --device-name=${STRIPE_CLI_DEVICE_NAME}
    - --forward-to
    - http://fpm/stripe/webhook/

volumes:
  minio-data:
  mariadb-data:
