@mixin alert-background($bgColour, $borderDarken: 5%) {
    background-color: $bgColour;
    border-color: darken($bgColour, $borderDarken);
    color: #fff;
}

.alert {
    padding: 1em 1em;
    border-radius: 5px;
    border-bottom: 3px solid;
    box-shadow: 0 2px 5px 1px hsla(0, 0%, 0%, 0.05);

    a {
        color: #fff;
    }

    &--warning {
        @include alert-background($colour-accent);
    }
    &--error {
        @include alert-background($colour-error, 15%);
    }
    &--success {
        @include alert-background($colour-success, 10%);
    }

    &__heading {
        margin-bottom: 0.5em;
    }

    &__message {
        margin: 0;
    }
}