@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Rubik:400,500,700');

$font-headers: 'Fjalla One', sans-serif;
$font-body: 'Rubik', sans-serif;

%header {
    font-family: $font-headers;
    text-transform: uppercase;
}


body {
    font-family: $font-body;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    @extend %header;
    margin: 0 0 0.5em 0;
}

p {
    line-height: 2em;
}

span, h1, h2, h3, h4, h5, h6 {
    &.primary { color: $colour-primary; }
    &.accent  { color: $colour-accent; }
    &.light   { color: $colour-light; }

    &.strong  { font-weight: bold; }
}

a {
    color: $colour-primary;

    &:hover {
        color: lighten($colour-primary, 5%);
    }
}

span.header-description {
    color: $colour-light;
    font-size: 0.9em;
}
