$choices-bg-color: $form-select-bg;
$choices-font-size-md: $form-select-font-size;
$choices-border-radius: $form-select-border-radius;
$choices-keyline-color: $form-select-border-color;
$choices-font-size-lg: $form-select-font-size;
$choices-guttering: 0px;

@import "~choices.js/src/styles/choices";

.choices {
    border-radius: $choices-border-radius;

    @include transition($form-select-transition);

    &.is-focused, &.is-open {
        box-shadow: $form-select-focus-box-shadow;
    }
}

.#{$choices-selector}__inner {
    padding: $form-select-padding-y $form-select-indicator-padding $form-select-padding-y $form-select-padding-x;
    min-height: unset;

    .is-focused &, .is-open & {
        border-color: $form-select-focus-border-color;
    }
}

.choices[data-type*="select-one"]{
    .choices__inner {
        padding-bottom: $form-select-padding-y;
        background-image: escape-svg($form-select-indicator);
        background-repeat: no-repeat;
        background-position: $form-select-bg-position;
        background-size: $form-select-bg-size;
    }

    .choices__input {
        padding: $input-padding-y $input-padding-x;
    }

    &::after {
        display: none;
    }
}

.choices__list {
    .is-highlighted {
        background-color: $dropdown-link-hover-bg !important;
    }
}

.choices__list--single {
    padding: 0;
}

.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
    padding: $dropdown-item-padding-y $dropdown-item-padding-x;
}

.choices__placeholder {
    opacity: 1;
}
