.news-bar {
    background: hsl(240, 2, 24);
    padding: 1em;

    .container {
        display: flex;
        align-items: center;
    }

    &__date {
        flex-grow: 0;
        font-size: 0.8em;
        color: hsl(0, 0, 51);
        margin-right: 2em;
    }

    &__title {
        flex-grow: 1;
        font-size: 1.1em;
        font-weight: bold;
        color: #fff;
    }

    &__view-more {
        flex-grow: 0;
        color: hsl(0, 0, 78);
        font-size: 0.8em;
    }
}
