.button {
    border-radius: 5px;
    border-color: #FF842A;
    border-style: solid;
    text-decoration: none;
    text-shadow: none;
    text-align: center;
    font-weight: bold;
    padding: 0.8em 0.75em;
    display: inline-block;
    text-transform: uppercase;
}

.button.button--display {
    font-family: $font-header;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 2em;
    padding: 0.4em 1.5em 0.3em 1.5em;
}

.button.button--block {
    display: block;
    width: 100%;
}

.button.button--filled {
    color: #fff;
    border-width: 0;
    background-color: #FF842A;
    box-shadow: 0 4px 10px hsla(0, 0%, 0%, 15%),
                inset 0 -3px 0 hsla(0, 0%, 0%, 15%);
}

.button.button--secondary {
    background-color: $color-secondary;
}

.button.button--outlined {
    color: #FF842A;
    border-width: 2px;
    box-shadow: 0 4px 10px hsla(0, 0%, 0%, 15%),
                inset 0 4px 10px hsla(0, 0%, 0%, 15%);
    text-shadow: none;
}

.button.button--is-small {
    font-size: 12px;
}

.button.button--has-icon-right {
    svg {
        margin-left: 0.25em;
    }
}

button.button:hover {
    cursor: pointer;
}
