@import "variables";

@import "~bootstrap/scss/bootstrap";
@import "~choices.js/src/styles/choices";

@import "components/diff";
@import "components/kv";
@import "components/markdown-preview";
@import "components/navbar";
@import "components/sidebar";

body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

td.actions {
    > * {
        margin-right: 5px;

        &:last-child {
            margin-right: 0;
        }
    }

    a {
        vertical-align: middle;
    }
}

.highlight-linked {
    :target {
        background-color: shift-color($warning, -80%);
    }
}

.selectize-control {
    padding: 0;
}

.horizontal-label {
    @include media-breakpoint-up(md) {
        text-align: right;
    }
}

