@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "~selectize/dist/css/selectize.bootstrap4.css";

body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
    right: 0;
    */
    bottom: 0;
    /* rtl:remove */
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);

    .nav-link {
        font-weight: 500;
        color: #333;

        svg {
            margin-right: 4px;
            color: #727272;
        }
    }

    .nav-link {
        &.active {
            color: #007bff;
        }

        &:hover svg, &.active svg {
            color: inherit;
        }
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}


.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar {
    .navbar-toggler {
        top: .25rem;
        right: 1rem;
    }

    .form-control {
        padding: .75rem 1rem;
        border-width: 0;
        border-radius: 0;
    }
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

td.actions {
    > * {
        margin-right: 5px;

        &:last-child {
            margin-right: 0;
        }
    }

    a {
        vertical-align: middle;
    }
}

dl.kv {
    margin-bottom: 0;

    .row {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }

    .row:nth-of-type(even) {
        background-color: rgba($black, $table-striped-bg-factor);
    }

    dt {
        padding-left: 1rem;
    }

    dd {
        padding-left: 1rem;
        padding-top: 0.5rem;

        margin-bottom: 0;

        @include media-breakpoint-up(md) {
            padding-left: 0;
            padding-top: 0;

            //margin-bottom: 0.5rem;
        }
    }
}

.highlight-linked {
    :target {
        background-color: shift-color($warning, -80%);
    }
}

.selectize-control {
    padding: 0;
}

.horizontal-label {
    @include media-breakpoint-up(md) {
        text-align: right;
    }
}
