.donate-panel {
    width: 100%;
    background: $colour-primary;
    border-radius: $border-radius-panel;
    border-bottom: 3px solid darken($colour-primary, 5%);
    color: #fff;
    margin-bottom: 1.5em;
    
    h3 {
        text-align: center;
        text-transform: uppercase;
        font-size: 0.8em;
        font-weight: 400;
    }

    .bar-outer {
        border-radius: 5px;
        background: #fff;
        width: 100%;
        padding: 0.25em;

        -webkit-box-shadow: inset 0px 4px 0px 0px #d9e6ef;
           -moz-box-shadow: inset 0px 4px 0px 0px #d9e6ef;
                box-shadow: inset 0px 4px 0px 0px #d9e6ef;
    }

    .bar-inner {
        background: $colour-accent;
        color: darken($colour-accent, 20%);
        height: 30px;
        box-sizing: border-box;
        border-radius: 3px;
        border-bottom: 2px solid darken($colour-accent, 5%);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 0.6em;
    }

    .bar-markers {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 0.6em;
        color: #86b6e8;
        margin-top: 0.5em;
    }

    .stats {
        background: #479fe2;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        div {
            flex: 1;
            text-align: center;
            padding: 0.5em 1em;

            &:first-child {
                border-right: 1px solid $colour-primary;
            }
        }

        h4 {
            margin: 0;
        }
        span {
            font-size: 0.6em;
            text-transform: uppercase;
        }
    }

    .panel-container {
        padding: 0.75em;

        small {
            display: block;
            text-align: center;
            font-size: 0.7em;
            margin-top: 1em;
        }
    }
}