dl.kv {
    margin-bottom: 0;

    .row {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }

    .row:nth-of-type(even) {
        background-color: rgba($black, $table-striped-bg-factor);
    }

    dt {
        padding-left: 1rem;
    }

    dd {
        padding-left: 1rem;
        padding-top: 0.5rem;

        margin-bottom: 0;

        @include media-breakpoint-up(md) {
            padding-left: 0;
            padding-top: 0;

            //margin-bottom: 0.5rem;
        }
    }
}
