.page.form {
    display: grid;

    @media screen and (min-width: $screen-l) {
        grid-template-columns: 35% 2fr;
    }
    @media screen and (max-width: $screen-l) {
        grid-template-columns: 40% 2fr;
    }
    @media screen and (max-width: $screen-m) {
        grid-template-columns: 100%;
    }

    section.overview {
        background-color: #525861;
        padding: 4em 3em 4em 6em;
        color: #fff;
        line-height: 2em;

        @media screen and (max-width: $screen-m) {
            padding: 3em 2em;
        }

        h1 {
            font-size: 3em;
            line-height: 1.1em;
            margin-top: 0em;
        }

        blockquote {
            background-color: #626974;
            border-left: 8px solid #79808A;
            margin: 2em 0 0 0;
            padding: 1.5em;
            font-size: 0.9em;
            line-height: 1.8em;

            h3 {
                font-family: $font-body;
                font-size: 1.5em;
                margin-top: 0;
            }
        }
    }
    section.contents {
        padding: 4em 6em 4em 3em;
        line-height: 2em;

        @media screen and (max-width: $screen-m) {
            padding: 3em 2em;
        }

        h2 {
            font-size: 1.5em;
            font-family: $font-body;
            padding-bottom: 0.5em;
            border-bottom: 1px solid #D3D3D3;
            margin-top: 0em;
        }

        .contents__section {
            margin-bottom: 3em;
        }

        ol {
            padding-left: 1em;
        }

        .form .form-row:first-of-type label {
            margin-top: 0;
        }
        .form label {
            color: #000;
            font-weight: bold;
        }

        blockquote {
            border: 2px solid darken($color-lightest-grey, 20%);
            padding: 1rem;
            margin: 0;
            border-radius: 5px;
            p {
                margin: 0;
            }
        }
    }
}
