.page.donate {

    .hero-header {
        .container {
            display: flex;
        }

        h1 {
            margin-bottom: 0.3em;
        }

        .hero-header__right {
            color: #fff;
        }
    }

    .header-desc {
        color: white;
        line-height: 2em;

        strong {
            color: #FF842A;
        }
    }

    main {
        background: #fff;
    }

    section.donate-tiers {
        h1 {
            margin-top: 0;
            margin-bottom: 0.2em;
        }

        .donate-tiers__overview {
            color: #7E7E7E;
            line-height: 2em;
            margin-bottom: 3em;
        }
    }

    .donation-tier-container {
        display: flex;
    }

    .donation-tier {
        flex-grow: 1;
        background-color: #F9F9F9;
        border-radius: 10px;
        color: #343434;
        box-shadow: inset 0 -4px 0 hsla(0, 0, 0, 5%);
        display: flex;
        flex-direction: column;

        .donation-tier__bar {
            height: 5px;
            border-radius: 10px 10px 0 0;

            &--copper {
                background-color: #ECD6D6;
            }
            &--iron {
                background-color: #F2B0B0;
            }
            &--diamond {
                background-color: #E95C5C;
            }
        }

        .donation-tier__header {
            padding: 2em 2em 0 2em;
            display: flex;
            align-items: center;

            h2 {
                margin: 0 0 0 0.35em;
                font-size: 2.1em;
            }
        }

        .donation-tier__price {
            margin-top: 1.7em;
            padding: 0 2em 2em 2em;
            border-bottom: 1px solid #E4E4E4;
        }

        .donation-tier__price-amount {
            color: #3577F8;
            font-size: 2.7em;
            font-weight: 800;
            margin-bottom: 0.1em;
        }

        .donation-tier__price-unit {
            color: #969696;
            font-size: 0.9em;
        }

        .donation-tier__boxes {
            padding: 1.5em 2em;
            border-bottom: 1px solid #E4E4E4;

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
            }
        }

        .donation-tier__boxes-title {
            margin-bottom: 1.3em;
        }

        .donation-tier__boxes-reward {
            display: flex;
            align-items: center;

            svg {
                margin-right: 1em;
            }
            *:nth-child(2) {
                margin-right: 0.5em;
                font-size: 1.8em;
            }
            *:nth-child(3) {
                font-size: 0.8em;
            }
        }

        .donation-tier__perks {
            padding: 1.5em 2em;
            border-bottom: 1px solid #E4E4E4;
            flex-grow: 1;

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
            }

            li {
                margin-bottom: 1.5em;
                font-size: 0.9em;

                strong {
                    font-size: 1.3em;
                    margin-right: 0.1em;
                }

                svg {
                    margin-right: 1em;
                }
            }
        }

        .donation-tier__perks-title {
            color: #7E7E7E;
            font-size: 1em;
            margin-bottom: 1.75em;
        }

        .donation-tier__footer {
            padding: 1.5em 2em;

            .button {
                width: 100%;
                font-family: $font-header;
                font-size: 2em;
                font-weight: 500;
            }
        }
    }

    .donation-tier__spacer {
        // Forces a minimum space between flex items
        flex: 1 0 10px;
    }

    .donation-tier-fineprint {
        margin-top: 2em;
        text-align: right;
        color: #7E7E7E;
        line-height: 2em;
        font-size: 0.8em;
    }

    section.donate-mystery-box {
        background-image: url('/assets/images/mystery-box-bg.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;

        .container {
            display: flex;
        }

        .donate-mystery-box__title {
            color: white;
            line-height: 2em;
        }
    }

    section.donate-faq {
        h1 {
            margin: 0;
        }

        .container {
            display: flex;
        }

        .donate-faq__contents {
            font-size: 0.9em;
            line-height: 2em;

            ul {
                list-style: none;
            }

            h2 {
                margin: 0 0 1em 0;
                padding: 0;
                font-size: 1.5em;
                font-family: $font-body;
                text-transform: none;
            }
        }
    }

    section.donate-legal {
        background-color: #f8f8f8;

        h1 {
            margin: 0;
        }

        .container {
            display: flex;
        }

        .donate-legal__contents {
            font-size: 0.9em;
            line-height: 2em;

            ul {
                list-style: none;
            }
        }
    }

    @media screen and (min-width: $screen-m) {
        .hero-header .container {
            flex-direction: row;
            justify-content: stretch;
            align-items: flex-end;
        }

        .hero-header__left {
            flex-basis: 50%;
            margin-right: 3em;
        }

        .hero-header__right {
            flex-basis: 50%;
        }

        .donation-tier-container {
            justify-content: space-between;
        }

        section.donate-tiers {
            padding: 4em 0;
        }

        section.donate-mystery-box {
             padding: 6em 0;

             .container {
                 align-items: center;
             }

             .donate-mystery-box__title {
                 margin-left: 5em;
             }
         }

        section.donate-faq {
            padding: 6em 0;

            .container {
                align-items: flex-start;
            }

            .donate-faq__contents {
                margin-left: 8em;

                ul {
                    margin: 0.4em 0 0 0;
                }

                li:not(:last-child) {
                    margin-bottom: 4em;
                }
            }
        }

        section.donate-legal {
            padding: 6em 0;

            .container {
                align-items: flex-start;
            }

            .donate-legal__contents {
                margin-left: 8em;

                ul {
                    margin: 0.4em 0 0 0;
                }

                li:not(:last-child) {
                    margin-bottom: 3em;
                }
            }
        }
    }

    @media screen and (max-width: $screen-m) {
        .hero-header .container {
            flex-direction: column;
        }

        .hero-header__right {
            margin-top: 2em;
        }

        .donation-tier-container {
            flex-direction: column;
        }

        section.donate-tiers {
            padding: 2.5em 0;
        }

        section.donate-mystery-box {
            padding: 2em 0;

            img {
                width: 100%;
                margin-bottom: 1em;
            }

            .container {
                flex-direction: column;
                align-items: center;
            }
        }

        section.donate-faq {
            padding: 2em 0;

            .container {
                flex-direction: column;
            }

            .donate-faq__contents {
                width: 100%;

                ul {
                    padding: 0;
                }

                li:not(:last-child) {
                    margin-bottom: 3em;
                }
            }
        }

        section.donate-legal {
            padding: 2em 0;

            .container {
                flex-direction: column;
            }

            .donate-legal__contents {
                width: 100%;

                ul {
                    padding: 0;
                }

                li:not(:last-child) {
                    margin-bottom: 3em;
                }
            }
        }
    }
}
