.mfa {
    h2 {
        margin-top: 0;
    }

    .alert {
        margin-top: 1rem;
    }

    &__backup {
        margin: 2rem 0;

        label {
            text-align: center;
            font-weight: bold;
            display: block;
            margin-bottom: 0.5rem;
            color: $color-text-primary;
        }

        &-code {
            width: 100%;
            font-size: 1.5rem;
            font-family: monospace;
            padding: 0.5rem;
            border: 1px dashed $color-text-primary;
            text-align: center;
            word-wrap: break-word;

            &:focus {
                outline: none;
            }
        }
    }

    &__backup-confirm {
        font-weight: bold;
    }

    &__keys {
        text-align: center;
    }

    &__qr-manual {
        font-size: 0.8rem;
        margin-top: 1rem;
        color: lighten($color-text-primary, 5%);
    }

    &__manual-key {
        font-family: monospace;
    }

    &__submit-section {
        button.button {
            margin-top: 0;
        }
    }
}
