.gallery {
    border-radius: 5px;
    background: #fff;
    margin-bottom: 1em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

    .picture-frame {
        flex: 1;
        padding: 0.5em;
        box-sizing: border-box;
        border-bottom: 3px solid darken(#fff, 5%);
    }

    .showcase-container {
        position: relative;
    }

    .showcase {
        position: absolute;
        width: 100%;
    }

    .showcase-enter {
        opacity: 0.01;
    }
    
    .showcase-enter.showcase-enter-active {
        opacity: 1;
        transition: opacity 500ms ease-in;
    }
    
    .showcase-leave {
        opacity: 1;
    }
    
    .showcase-leave.showcase-leave-active {
        opacity: 0.01;
        transition: opacity 300ms ease-in;
    }

    .picture-desc {
        flex: 0;
        background: #f2f2f2;
        padding: 1.5em 1.5em;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        min-width: 200px;
        border-bottom: 3px solid darken(#f2f2f2, 5%);

        small {
            font-size: 0.75em;
        }

        h3 {
            margin-top: 0;
            font-size: 1.5em;
            font-family: 'Fjalla One', sans-serif;
            font-weight: normal;
            text-transform: uppercase;
            margin-bottom: 0.1em;
        }

        h5 {
            text-transform: uppercase;
            margin-bottom: 0;
        }
    }
}

.news-panel {
    background: #fff;
    border-radius: $border-radius-panel;
    display: block;
    margin-bottom: 1em;

    .article-contents {
        padding: 2em;

        h2 {
            font-size: 1.8em;
            font-family: 'Fjalla One', sans-serif;
            font-weight: normal;
            color: $colour-primary;
            margin: 0;
            margin-bottom: 0.25em;
        }

        .date {
            color: #c0b6b6;
            font-size: 0.7em;
            margin-bottom: 2.5em;
        }
        
        .text {
            font-size: 0.7em;
            line-height: 2em;
            margin-bottom: 2.5em;
        }

        .poster {
            font-size: 0.7em;
            color: #c0b6b6;

            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            img {
                margin: 0 0.5em;
            }
        }
    }

    .article-footer {
        background: #f8f8f8;
        padding: 0.75em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 3px solid darken(#f8f8f8, 5%);

        .stats {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            color: #c1bebd;
        }
        .stat {
            text-align: center;
            padding: 0 1em;
            border-right: 1px solid #e5e5e5;
            
            h4 {
                margin: 0;
            }
            span {
                font-size: 0.7em;
                text-transform: uppercase;
            }

            &:last-child {
                border-right: 0;
            }
        }
    }
}