// Primitives

$color-black: rgb(29, 29, 33);
$color-gray-10: rgb(46, 46, 49);
$color-gray-6: rgb(123, 122, 125);
$color-gray-4: rgb(165, 165, 166);
$color-gray-3: rgb(187, 187, 188);
$color-gray-2: rgb(209, 208, 210);
$color-gray-1: rgb(232, 231, 232);
$color-white: rgb(255, 255, 255);

$color-primary: rgb(247, 166, 2);
$color-primary-light: lighten($color-primary, 15%);
$color-primary-dark: darken($color-primary, 10%);

$color-alternate: rgb(24, 135, 220);
$color-alternate-light: lighten($color-alternate, 15%);
$color-alternate-dark: darken($color-alternate, 15%);

$color-success: rgb(136, 196, 89);
$color-error: rgb(239, 38, 38);
$color-warning: rgb(255, 209, 55);


// Semantics

$color-text-body: $color-gray-10;
$color-text-heading: $color-gray-6;

$color-link: $color-primary;
$color-link-visited: $color-primary-dark;

$color-button-primary: $color-primary;
$color-button-primary-hover: $color-primary-dark;
