// TODO: is there a better way to import with NextJS?
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;500;700&display=swap');

$font-body: 'Roboto', sans-serif;
$font-display: 'Bebas Neue', sans-serif;

// For huge, main-attraction headliners
$text-display-lg: 6.5rem;
$text-display-md: 2.5rem;
$text-display-sm: 1.5rem;

// For large paragraphs of text
$text-body-lg: 1.2rem;
$text-body-md: 1.0rem;
$text-body-sm: 0.8rem;

// For secondary, medium emphasis text of short length
$text-title-lg: 1.7rem;
$text-title-md: 1.4rem;
$text-title-sm: 1.1rem;

// For section headings and titles
$text-heading-xl: 4.0rem;
$text-heading-lg: 3.0rem;
$text-heading-md: 2.5rem;
$text-heading-sm: 2.0rem;
$text-heading-xs: 1.5rem;
$text-heading-xxs: 1.0rem;

// For smaller, utilitarian styles, such as text inside
// components, button text, captions or small text in the
// content body
$text-label-lg: 1.5em;
$text-label-md: 1.0em;
$text-label-sm: 0.8em;