:root {
  --color-primary: #4D84F4;
  --color-primary-light: tint(var(--color-primary), 15%);
  --color-primary-dark: shade(var(--color-primary), 15%);
  --color-primary-bg: color-mod(var(--color-primary) alpha(20%)); // TODO: replace with sass function

  --color-accent: #f5414f;
  --color-accent-light: tint(var(--color-accent), 15%);
  --color-accent-dark: shade(var(--color-accent), 10%);
  --color-accent-bg: color-mod(var(--color-accent) alpha(20%)); // TODO: replace with sass function

  --color-success: #88c459;
  --color-error: #f5414f;
  --color-warning: #ffd137;

  --color-text: var(--gray-10);
  --color-text-heading: var(--black);
  --color-text-subtle: var(--gray-6);
  --color-link: var(--color-primary);
  --color-link-visited: var(--color-primary-dark);
  --color-mark: var(--color-accent-bg);
  --color-blockquote-border: var(--gray-2);

  --color-border: var(--gray-2);

  --color-body: var(--white);

  --btn-primary-bg: var(--color-primary);
  --btn-primary-hover: var(--color-primary-light);
  --btn-primary-active: var(--color-primary-dark);
  --btn-primary-label: var(--white);

  --color-icon-primary: var(--gray-4);
  --color-icon-secondary: inherit;

  --black: #1d1d21;
  --gray-10: #2e2e31;
  --gray-6: #7b7a7d;
  --gray-4: #a5a5a6;
  --gray-3: #bbbbbc;
  --gray-2: #d1d0d2;
  --gray-1: #e8e7e8;
  --white: white;

  --shadow-strong: 0 4px 4px hsla(0, 0%, 0%, 25%),
                   inset 0 -4px 0 hsla(0, 0%, 0%, 25%);
}