@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;500;700&display=swap');

:root {
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Bebas Neue', sans-serif;

  --text-scale-ratio: 1.2;

  // TODO: reuse calculations
  --text-xs:    calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
  --text-sm:    calc(1em / var(--text-scale-ratio));
  --text-md:    calc(1em * var(--text-scale-ratio));
  --text-lg:    calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xl:    calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xxl:   calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xxxl:  calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
}

.text--xxxl {
  font-size: var(--text-xxxl);
}

h1, .text--xxl {
  font-size: var(--text-xxl);
}

h2, .text--xl {
  font-size: var(--text-xl);
}

h3, .text--lg {
  font-size: var(--text-lg);
}

h4, .text--md {
  font-size: var(--text-md);
}

.text--sm, small {
  font-size: var(--text-sm);
}

.text--xs {
  font-size: var(--text-xs);
}

p {
  line-height: var(--body-line-height);
}