# packages
/node_modules
/vendor

# logs
npm-debug.log
yarn-error.log

# environment settings
.env

# generated resources/builds
/interfaces/web/public/assets/css
/interfaces/web/public/assets/js
mix-manifest.json
.php_cs.cache

# token buckets
*.ratelimit

# user uploaded files
/interfaces/web/public/storage
/storage/*.key

# IDE generated settings
.vscode
/.idea

# dev environments
/.vagrant
Homestead.json
Homestead.yaml