server-category {
    margin-bottom: 1em;
    display: block;

    h5 {
        text-transform: uppercase;
        font-size: 0.55em;
        font-weight: normal;
        margin: 0;
        margin-left: 0.75em;
        margin-bottom: 0.5em;
    }
}

server {
    width: 100%;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 5px;
    padding: 0.35em;
    margin-right: 0.5em;
    margin-bottom: 0.15em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .title {
        flex: 1;
        font-size: 0.6em;
        font-weight: bold;
        margin-right: 1em;
        text-transform: uppercase;
    }
    .status {
        flex: 0;
        font-size: 0.6em;
        border-radius: 3px;
        padding: 0.5em 1.5em;
        margin-right: 1em;
        text-transform: uppercase;
        width: 250px;
        display: block;
    }
    .ip {
        flex: 1;
        font-size: 0.6em;
        padding-right: 1em;
        text-align: right;
    }

    &[online] {
        $colour: $colour-primary;

        .title {
            color: $colour;
        }
        .status {
            background: $colour;
            color: #fff;
        }
    }

    &[offline] {
        .status {
            background: #e6e6e6;
            color: darken(#e6e6e6, 25%);
        }
    }
}