.change-status {
    margin-top: 2rem;
    text-align: center;

    &__item:not(:last-of-type) {
        margin-bottom: 2rem;
    }

    &__name {
        margin-bottom: 0.5rem;
    }

    &__description {
        text-transform: uppercase;
        font-family: $font-header;
    }

    &__icon {
        font-size: 2em;
        margin-bottom: 0.2rem;

        .fa-check {
            color: $color-success;
        }

        .fa-hourglass-half {
            color: $color-warning;
        }
    }
}

@media screen and (min-width: $screen-m) {
    .change-status {
        display: flex;

        &__item:not(:last-of-type) {
            margin-bottom: 0;
            margin-right: 3rem;
        }
    }
}


.status-success {
    text-align: center;

    svg {
        margin-bottom: 1rem;
    }
    svg, h2 {
        color: $color-success;
    }
}
