.footer-donations {
    width: 100%;
    background: #3B3B3D;
    padding: 3em 0;
    color: #fff;

    & > .container {
        display: flex;
    }

    &__left {
        flex: 0;
        margin-right: 8em;

        h1 {
            font-family: $font-header;
            font-size: 2.5em;
            font-weight: 0;
            color: $color-heading-contrast;
            margin-bottom: 0.5em;
            margin-top: 0;
        }

        .description {
            font-size: 0.9em;
            line-height: 2.5em;
            margin-bottom: 2em;

            a:link, a:visited {
                color: #fff;
                font-weight: bold;
            }

            a:hover {
                color: #FF842A;
            }
        }
    }

    &__right {
        flex: 1;
        padding-top: 0.25em;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        table {
            flex: 0;
            display: block;
            border-spacing: 0 2em;
            font-size: 0.9em;
            margin: 0;
            border-collapse: collapse;

            th {
                color: #929EBD;
                padding-right: 2em;
                text-align: left;
                font-weight: normal;
            }

            th, td {
                padding-top: 2em;
            }
        }

        .donation-bar {
            flex: 0;
        }

        .spacer {
            flex: 1;
        }
    }

    .donate-button {
        background: #FF842A;
        font-family: $font-header;
        font-size: 2em;
        color: #3B3B3D;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        border-radius: 5px;
        padding: 0.4em 4.5em;
        box-shadow: 0 4px 4px hsla(0, 0, 0, 25%),
                    inset 0 -4px 0 hsla(0, 0, 0, 25%);
        display: flex;

        .fa-coins {
            margin-right: 0.25em;
        }
    }
}
