// TODO: combine with image-header
.hero-header {
    background-image: url('/assets/images/header-bg1.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 6em 0;

    h1 {
        color: white;
        font-family: $font-header;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 3.8em;
        margin: 0;
    }
}
