.image-header {
    background-image: url('/assets/images/login-bg.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    h1 {
        color: white;
        font-family: $font-header;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 3.8em;
        padding: 0.4em 0.2em 0.4em 0.2em;
        margin: 0;
    }
}
