.introduction {
    background: hsl(0, 0%, 100%);
    padding: 3em 0;
    color: $color-text-primary;
    font-size: 1em;
    line-height: 2em;
    font-weight: 500;

    h1 {
        color: $color-heading-primary;
        font-size: 3.8em;
        font-family: $font-header;
        font-weight: 500;
        text-transform: uppercase;
        font-kerning: normal;
        line-height: 0.95em;
        margin-bottom: 0.2em;
    }

    &__content {
        display: flex;

        @media screen and (max-width: 1024px) {
            flex-direction: column;
        }
    }

    &__text {}

    &__points {
        display: flex;
        flex-wrap: wrap;
        padding-left: 6em;
        list-style: none;
        margin-top: 0;
        line-height: 2.4em;

        & > li {
            width: 50%;
            text-transform: uppercase;
        }

        @media screen and (max-width: 1300px) {
            width: 50%;
            padding-left: 0;
        }
    }
}
