$nav-color: $color-secondary;
$nav-secondary-color: $color-primary;

.navbar {
    $border-color: darken($nav-color, 10%);

    width: 100%;
    position: fixed;
    background: $nav-color;
    border-bottom: 3px solid $border-color;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    z-index: 1000;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    // Collapse all menus by default
    li > ul {
        display: none;
    }

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .container > ul {
        display: flex;
        align-items: stretch;

        & > li {
            border-right: 1px solid $border-color;

            &:not(.logo):first-child {
                border-left: 1px solid $border-color;
            }
        }

        a {
            display: block;
            font-size: 0.8em;
            padding: 1em 1.5em;
            text-decoration: none;
            text-transform: uppercase;
            color: #fff;

            &:focus,
            &:active {
                background: darken($nav-color, 10%);
            }
        }

        & > li:not(.logo):hover {
            background-color: lighten($nav-color, 5%);

            & ul {
                display: inherit;
            }
            & ul.menu-sideway {
                display: flex;
            }
        }
    }

    // Drop-down menu
    .container > ul > li > ul {
        $border-color: lighten($nav-secondary-color, 45%);

        background: #fff;
        position: absolute;
        border: 1px solid $border-color;
        border-bottom-width: 3px;

        .divider {
            border-bottom: 1px solid $border-color;
        }

        a {
            color: $nav-secondary-color;
            padding: 1em 1.5em;

            &:hover {
                background-color: #f6f6f6;
            }
            &:focus,
            &:active {
                background-color: darken(#f6f6f6, 5%);
            }
        }

        &.menu-sideway {
            flex-direction: row;

            & > li:not(:last-child) {
                border-right: 1px solid $border-color;
            }

            h5 {
                text-transform: uppercase;
                padding: 1em 1.5em;
                font-weight: 700;
                margin: 0;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .navbar .container > ul a {
        padding: 1em 1em;
    }
}
