nav.pagination {

    ul {
       list-style: none;
       padding: 0;
       display: flex;
       flex-direction: row;
       justify-content: flex-start;
       align-items: flex-end;
    }

    li {
        background: $color-basic;
        box-shadow: 0 2px 5px 1px hsla(0, 0%, 0%, 0.05);
        border-bottom: 3px solid darken($color-basic, 10%);
        transition: all 0.3s ease;
        user-select: none;

        &:first-child {
            border-radius: 5px 0 0 5px;
        }
        &:last-child {
            border-radius: 0 5px 5px 0;
        }
        &:not(:last-child) {
            border-right: 1px solid darken($color-basic, 10%);
        }
        &:hover {
            background: lighten($color-basic, 5%);
            border-bottom-color: darken($color-basic, 5%);
        }
        &:focus,
        &:active {
            border-bottom-width: 1px;
            background: darken($color-basic, 5%);
            border-bottom-color: darken($color-basic, 10%);
        }
    }

    li.active {
        background: $color-secondary;
        border-bottom-color: darken($color-secondary, 15%);

        &:hover {
            background: lighten($color-secondary, 5%);
            border-bottom-color: darken($color-secondary, 5%);
        }
        &:focus,
        &:active {
            background: darken($color-secondary, 5%);
        }

        a {
            color: #fff;
        }
    }
    li.divider {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.575em 0.5em;
        background: darken($color-basic, 10%);
        color: darken($color-basic, 25%);
    }
    li.disabled {
        background: lighten($color-basic, 5%);
        border-bottom-color: $color-basic;

        &:not(:last-child) {
            border-right-color: $color-basic;
        }

        a {
            color: darken($color-basic, 20%);
        }
    }

    a {
        display: block;
        padding: 0.65em 0.8em;
        text-decoration: none;
        color: $color-secondary;
    }
}
