name: Unit Tests

on:
  push:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  unit-test:
    runs-on: ubuntu-latest
    services:
      mariadb:
        image: mariadb:11.0.5
        env:
          MARIADB_DATABASE: testing
          MARIADB_USER: dbuser
          MARIADB_PASSWORD: dbpass
          MARIADB_ROOT_PASSWORD: root
        ports:
          - 3306:3306
        options: >-
          --health-cmd="healthcheck.sh --connect --innodb_initialized"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Install PHP
        uses: ./.github/actions/install-php

      - name: Install Composer dependencies
        uses: ./.github/actions/install-composer-deps

      - name: Install npm dependencies
        uses: ./.github/actions/install-npm-deps

      - name: Calculate front-end asset hash
        id: get-assets-cache
        uses: theowenyoung/folder-hash@v2.0.1
        with:
          path: |
            resources/js
            resources/sass
            public

      - name: Restore front-end asset cache
        id: assets-cache
        uses: actions/cache@v3
        with:
          path: |
            resources/js
            resources/sass
            public
          key: ${{ runner.os }}-assets-v1-${{ steps.get-assets-cache.outputs.hash }}-${{ hashFiles('package-lock.json') }}

      - name: Build front-end assets
        if: steps.assets-cache.outputs.cache-hit != 'true'
        run: npm run build

      - name: Prepare .env file
        run: |
          cp .env.testing .env
          echo "DB_HOST=127.0.0.1" >> .env

      - name: Prepare Laravel
        run: |
          php artisan key:generate
          chmod -R 755 storage bootstrap/cache

      - name: Prepare database
        run: php artisan migrate

      - name: Run tests
        env:
          DB_HOST: 127.0.0.1
          MYSQL_USER: root
          MYSQL_ROOT_PASSWORD: root
        run: php artisan test
