name: PHP Test

on:
  push:
    branches:
      - master
      - release

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mariadb:10.3
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: pcb
        ports:
          - 3306
        options: --health-cmd="mysqladmin ping" --health-interval=5s --health-timeout=5s --health-retries=3

    steps:
      - uses: actions/checkout@v1

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 7.4
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv, imagick
          coverage: none

      - name: Copy environment
        run:  cp .env.ci .env

      - name: Validate composer.json and composer.lock
        run: composer validate

      - name: Get Composer Cache Directory
        id: composer-cache
        run: |
          echo "::set-output name=dir::$(composer config cache-files-dir)"
      - uses: actions/cache@v1
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - name: Composer dependencies
        run: composer install --no-interaction

      - name: NPM Install
        run: npm ci

      - name: NPM Build
        run: npm run prod

      - name: Generate Key
        run: php artisan key:generate

      - name: Prepare Database
        env:
          DB_CONNECTION: mysql
          DB_PORT: ${{ job.services.mysql.ports[3306] }}
        run: php artisan migrate

      - name: Larastan
        run: ./vendor/bin/phpstan analyse --memory-limit=1G

      - name: PHP Insights
        run: vendor/bin/phpinsights -n --ansi --format=github-action

      - name: PHPUnit
        env:
          DB_CONNECTION: mysql
          DB_PORT: ${{ job.services.mysql.ports[3306] }}
        run: phpdbg -dmemory_limit=1G -qrr vendor/bin/phpunit --coverage-clover tests/coverage/clover.xml

      - name: Upload coverage
        run: curl -s https://codecov.io/bash | bash -f
