@charset 'utf-8';

@import '~normalize-scss/sass/normalize';
@include normalize();


@import 'mixins/utility';

@import 'global/colours';
@import 'global/dimensions';
@import 'global/typography';
@import 'global/images';

@import 'components/alert';
@import 'components/badge';
@import 'components/blockquote';
@import 'components/bubble';
@import 'components/button';
@import 'components/card';
@import 'components/divider';
@import 'components/grid';
@import 'components/input';
@import 'components/pagination';
@import 'components/progressbar';
@import 'components/skeleton';
@import 'components/stat';
@import 'components/spinner';
@import 'components/table';

@import 'layouts/donate-panel';
@import 'layouts/footer';
@import 'layouts/grid';
@import 'layouts/header';
@import 'layouts/navigation';
@import 'layouts/server-feed';

@import 'pages/home';
@import 'pages/login';


* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-height: 100%;
}

body {
    background: hsl(55, 100%, 93%);
    overflow-x: hidden;
}

section {
    width: 100%;
}